{% extends 'base.html.twig' %}

{% block title %}Ajouter une entreprise{% endblock %}

{% block body %}
 <h1>Ajouter une entreprise</h1>
 {#form() fontion en twig   formAddEntreprise écuppérer du conrollerr#}
    {{form(formAddEntreprise)}}

{% endblock %}
