{% extends 'base.html.twig' %}

{% block title %}Hello EntrepriseController!{% endblock %}

{% block body %}
 <h1>Liste des entreprises</h1>
 <p>hello {{ name}}</p>

 {%for li in tableau %}
 {{li}} <br>
 {% endfor %}
{% endblock %}
