{% extends 'base.html.twig' %}

{% block title %}Détails d'une entreprise{% endblock %}

{% block body %}
    <h1>{{ entreprise }}</h1>
    <p>siret : {{entreprise.siret}}</p>
<p>date de création:{{entreprise.dateCreation | date('d-m-y')}} <br>

{#faull adresse function in entreprise entité qui renvoie l'adresse compléte#}
 adresse: {{entreprise.FullAdresse}}
</p>


{% endblock %}